@charset "utf-8";
* {
  margin: 0;
  padding: 0;
}
ul,
ol,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: #aaa;
}
.container {
  width: 100%;
  max-width: 1600px;
  border-radius: 10px;
  border: 1px solid #eee;
  padding: 45px;
  margin: 0 auto;
}
